<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Taller GNU/Linux</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="page">
        <h1>Taller GNU/Linux</h1>
        <h2>Escuela Pepe Biondi Nro. 65</h2>

        <table class="download">
        <tr>
            <td><p>Descargá el material del taller<br>
                <a href="{{ url_for('static', filename='primeros_pasos_con_gnulinux.pdf') }}">Primeros pasos con GNU/Linux</a></p></td>
            <td style="width:150px"><a href="{{ url_for('static', filename='primeros_pasos_con_gnulinux.pdf') }}"><img src="{{ url_for('static', filename='download.png') }}" width="100" height="100"></a></td>
        </tr>
        </table>

        {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
        {% endfor %}

        {% block entries %}{% endblock %}
    </div>
</body>
</html>
