{% extends "layout.html" %}
{% block entries %}
    <form action="{{ url_for('add_entry') }}" method="post" class="add-entry">
    <dl>
        <dt>Mensaje<dt>
        <dd><textarea name="message" rows=5 cols=40></textarea></dd>
        <dd><input type="submit" value="Dejá un comentario"></dd>
    </dl>
    </form>

    <dl class="entries">
    {% for entry in entries %}
        <dt class="created">{{ entry.created }}</dt>
        <dd>{{ entry.message|safe }}</dd>
    {% else %}
        <dd><em>No hay mensajes aun :(</em></dd>
    {% endfor %}
    </dl>
{% endblock %}
