{% extends "layout.html" %}
{% block entries %}
    <form action="{{ url_for('add_entry') }}" method="post" class="add-entry">
    <fieldset>
        <textarea name="message" rows=6 cols=40></textarea>
        <br>
        <input type="submit" value="Dejá un comentario">
    </fieldset>
    </form>

    <div class="entries">
    {% for entry in entries %}
        <div class="created">{{ entry.created.strftime('%H:%M') }}</div>
        <pre class="entry">{{ entry.message|safe }}</pre>
    {% endfor %}
    </div>
{% endblock %}
